.albumcollection{
    display: grid;
    width: 99%;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: .5%;

    @media screen and (max-width: 1360px){
        grid-template-columns: 33% 33% 33%;
    }
    
    @media screen and (max-width: 1000px){
        grid-template-columns: 50% 50%;
    }

    @media screen and (max-width: 630px){
        grid-template-columns: 100%;
    }
}