.footer{
    margin-top: 40px;
    margin-left: 40%;
    color: #0d0d00;
    text-decoration: none;    
    opacity: 0.5;  

    @media screen and (max-width: 460px){
        margin-left: 20%;
    }
}