.albumcard{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 99%;
    height: 80%;
    border-radius: 6px;
    border: 1px #f5f5ef solid;
    background-color: white;

    .albumcover{
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 80%;
        overflow: hidden;
    }

    .albuminfo{
        position: relative;
        text-align: center;
    }

    &:hover{
        .albumcover{
            opacity: 0.8;
        }
        box-shadow: 0 10px 25px rgba(235, 250, 100, 0.438);
        transform: translateY(-8px);
    }

    &:active{
        width: 98%;
        height: 79%;
    }
}